<div id = "header">
	<div id = "back-to-register-page" class = "header-left-part">
		<i class = "custom-icon icon-back"></i>
	</div>	
	<div class = "header-middle-part">注册WorkPlus</div>
</div>
<div class = "msg-box">
	<div class = "msg-box-icon-part">
		<i class = "custom-icon icon-account"></i>
	</div>
	<div class = "msg-box-hint-part">
		<i class = "custom-icon" id = "icon-account-hint"></i>
	</div>	
	<div class = "msg-box-input-part">
		<input type = "text" placeholder = "请输入帐号" id = "account-name">
	</div>
</div>
<div class = "msg-box">
	<div class = "msg-box-icon-part">
		<i class = "custom-icon icon-password"></i>
	</div>
	<div class = "msg-box-hint-part">
		<i class = "custom-icon icon-password-type"></i>
	</div>
	<div class = "msg-box-input-part">
		<input type = "password" placeholder = "请至少输入六位数密码" class = "account-password">
	</div>
</div>
<div class = "msg-box">
	<div class = "msg-box-icon-part">
		<i class = "custom-icon icon-password"></i>
	</div>
	<div class = "msg-box-hint-part">
		<i class = "custom-icon icon-password-type"></i>
	</div>
	<div class = "msg-box-input-part">
		<input type = "password" placeholder = "请再次输入密码" class = "account-password">
	</div>
</div>
<button id = "submit-account-msg" class = "custom-btn inactive next-step-btn" disabled>下一步</button>
<p class = "text-content error-hint" id = "account-msg-hint"></p>