<div id = "header">
	<div id = "back-to-login" class = "header-left-part">
		<i class = "custom-icon icon-back"></i>
	</div>	
	<div class = "header-middle-part">注册WorkPlus</div>
</div>
<div class = "msg-box first-box page1">
	<div class = "mobile-icon-box">
		<i class = "custom-icon icon-mobile"></i>
		<span>+86</span>		
	</div>
	<div class = "msg-box-hint-part msg-delete-box" >
		<i class = "custom-icon icon-delete hide "></i>
	</div>	
	<div class = "mobile-input-box input-box">
		<input type = "text" id = "phone-number" placeholder = "请输入手机号码">
	</div>
</div>
<div class = "msg-box verfication-code-box">
	<button class = "custom-btn verfication-code-btn disabled-evt" disabled>获取验证码</button>
	<div class = "verfication-code-content-box">
		<div class = "verfication-code-icon-box">
			<i class = "custom-icon icon-verification"></i>
		</div>
		<div class = "verfication-code-input-box">
			<input type = "text" class = "verfication-code-input" placeholder = "请输入验证码">	
		</div>	
	</div>
</div>
<button id = "register-btn" class = "custom-btn register-btn" disabled>下一步</button>
<p class = "text-content error-hint">验证码错误</p>
<p class = "text-content">点击注册</p>
<p class = "text-content">即表示你同意<a class = "link">《服务协议》</a>和<a class = "link">《隐私政策》</a></p>
